<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="300000000" />
            </requestFiltering>
        </security>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform
                stdoutLogEnabled="true"
                stdoutLogFile="suave.log"
                startupTimeLimit="20"
                processPath="dotnet"
                requestTimeout="00:10:00"
                arguments="C:\SafeApps\TargetPService\deploy\Server\Server.dll %HTTP_PLATFORM_PORT%"/>
    </system.webServer>
</configuration>
