group Server
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget CNTK.CPUOnly 2.8.0-rc0.dev20200201 rc0
    nuget FSharp.Core
    nuget Suave 2.5.5
    nuget Fable.Remoting.Suave ~> 3

    nuget FSharp.Plotly >= 1.2.0
    nuget FSharpAux >= 1.0.0
    nuget FSharpAux.IO >= 1.0.0
    nuget BioFSharp >= 1.0.3
    nuget BioFSharp.IO >= 1.0.3
    nuget BioFSharp.BioContainers >= 1.0.3
    nuget FSharp.Stats >= 0.2.1-beta

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Browser.Blob
    nuget Fable.Browser.Dom
    nuget Fable.Browser.Event
    nuget Fable.Browser.Performance
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2
    nuget Fable.FontAwesome.Free ~> 2
    nuget Feliz.Plotly >= 0.12.0

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
