
body {
    overflow-y : auto;
    background-image: url("/Images/CircuitBrain.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;

}

p.is-danger {
    color: red;
    font-weight:bold;
    font-size: 1.25rem;
}

.navbar.is-dark.csbNav{
    background-color: rgb(68,84,106);
}

a.navbar-item.is-active {
    background-color: rgb(222, 235, 247) !important;
    color: rgb(68,84,106) !important;
}

.HelpSection {
    background-color: rgb(222, 235, 247);
    color: rgb(68,84,106);
    width: 100%;
    border: 1px solid;
    position: fixed;
    z-index: 28;
}

.HelpSection .fas {
    color: darkred;
    cursor:pointer;
}

.hero.csbHero {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed7d31+0,faee05+100 */
    background: #ed7d31;
    background: -moz-linear-gradient(-55deg, #ed7d31 0%, #fad505 80%);
    background: -webkit-linear-gradient(-55deg, #ed7d31 0%,#fad505 100%);
    background: linear-gradient(145deg, rgba(237, 125, 49, 0.9) 0%,rgba(250, 238, 5, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7d31', endColorstr='#faee05',GradientType=1 );
    text-align: justify;
}

.textarea {
    border-color: rgb(237, 125, 49);
}

.is-danger-CSB {
    background-color: rgb(250, 238, 5) !important
}

.startBtn {
    min-height: 120px;
}

.section.csbSection {
    background-color: rgb(222, 235, 247, 0.8);
    opacity: 0.6;
}

.section.resultSection {
    background: rgba(222,235,247,0.95);
}

.section.resultSection hr {
    background:rgb(68,84,106)
}

.ProcessDecision {
    /*background-color: #fafafa;*/
    /*margin: 0 0 0 0;*/
}

.ProcessDecision .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

.tile.csbTile {
    border: 1px solid rgb(68,84,106);
}

.ResultFrame {
    min-height: 800px;
    min-width: 800px;
    width: 100%;
    overflow: hidden;
}

.plot-container {
    width: 50% !important;
    margin: auto !important;
}

.transparent {
    background-color: rgb(0,0,0,0.0);
}

.wordBreak {
    word-wrap: break-word;
}

.viewManipulator {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight:bold
}

.viewManipulator:hover {
    background-color:lightgray;
    cursor:pointer;
}

.viewManipulator div {
    width:100%;
}

.fastaDisplay span {
    font-family: Consolas,monaco,monospace;
    font-size: 1.25em;
    line-height: 100%;
    padding: 1px 0px 1px 1px;
    font-weight: 1200;
}

.leftSelector {
    background-color: rgba(256, 256, 256, 1.0);
    text-align: right;
}

.leftSelector .title {
    color: rgb(237, 125, 49)
}

.leftSelector hr {
    background-color: rgb(237, 125, 49)
}

.leftAlternative {
    text-decoration: none
}

.leftAlternative:hover {
    color: white;
    background-color: rgb(68,84,106);
}

.rightSelector {
    background-color: rgba(68,84,106, 0.95);
    text-align: left;

}
.rightSelector .title {
    color: rgb(237, 125, 49)
}

.rightSelector hr {
    background-color: rgb(237, 125, 49)
}

.rightSelector .radio {
    color: rgb(237, 125, 49);
    font-size: 1.25rem;
}

.fastaFileUploadBtn {
    border: 1px solid rgb(237, 125, 49);
    background-color: rgb(256, 256, 256);
    color: rgb(237, 125, 49)
}

.fastaFileUploadBtn .title {
    color: rgb(237, 125, 49);
}

.file-label:hover .file-cta {
    background-color: rgb(237, 125, 49);
    color: white;
}
.file-label:hover .title {
    color: rgb(222, 235, 247);
}

#ResultHeading {
    background: rgba(222,235,247,0.95);
    margin-bottom: 0 !important;
}

#ResultHeading .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

#ResultHeading .title {
    color: rgb(68,84,106);
}

#ResultHeading .pagination-link {
    color: rgb(68,84,106);
    border-color: rgb(68,84,106);
    background-color: rgb(237, 125, 49);
}

#ResultHeading .pagination-link.is-current {
    border-color: rgb(237, 125, 49);
    background-color: rgb(68,84,106);
    color: rgb(237, 125, 49);
}

#ResultHeading hr {
    background-color: rgb(68,84,106);
}

.leftResultHeading {
    text-align: right;
}

.resultBar {
    background: #ed7d31;
    background: -moz-linear-gradient(-55deg, #ed7d31 0%, #fad505 80%);
    background: -webkit-linear-gradient(-55deg, #ed7d31 0%,#fad505 100%);
    background: linear-gradient(145deg, rgba(237, 125, 49, 1.0) 0%,rgba(250, 238, 5, 1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7d31', endColorstr='#faee05',GradientType=1 );
    margin-bottom: 0 !important;
    position:fixed;
    bottom:0px;
    z-index:29;
    width: 100%;
}

.resultBar .column {
    padding-left: 2rem;
    padding-right: 2rem;
}

.resultBar.title, .resultBar .pagination-link {
    color: rgb(68,84,106);
}

.resultBar .pagination-link {
    border-color: rgb(68,84,106);
    background-color: rgb(237, 125, 49);
}

.resultBar .pagination-link.is-current {
    border-color: rgb(237, 125, 49);
    background-color: rgb(68,84,106);
    color: rgb(237, 125, 49);
}

.resultBar hr {
    background-color: rgb(68,84,106);
}


.leftResultBar {
    text-align:right;
}


a[download] {
    font-size: 1.5em;
    background-color: #22c65b;
    border-color: transparent;
    color: #fff;
    width:100%;
    height:100%;
}

a[download]::before{
    height: 1em;
    position: relative;
    top: 0.75em;
    right: 0.5em;
    width: 1em;
}

a[download]:hover,
a[download]:focus{
    text-decoration: none;
}


#prepareDownload{
    font-size: 1.5em;
    line-height: 100%;
}

.card-footer-item {
    font-size: 1.5em;
    line-height: 100%;
}


.is-selected-model {
    border: 2px solid green;
}

.ErrorSection {
    background-color: rgba( 240, 128, 128, 0.9);
}

.ErrorSection h1 {
    color: red

}

.resetBtn {
    width: 100%;
    min-height: 7rem;
    font-size: 3rem;
}

.plotModeBtnActive {
    border-color: rgb(237, 125, 49);
    background-color: rgb(68,84,106);
    color: rgb(237, 125, 49);
}
.plotModeBtnActive:focus {
    border-color: rgb(237, 125, 49) !important;
    background-color: rgb(68,84,106) !important;
    color: rgb(237, 125, 49) !important;
}

.plotModeBtnInactive {
    border: none ;
    background-color: whitesmoke !important;
    color: rgb(68,84,106) !important;
}

.plotModeBtnInactive:hover {
    border: 1px solid rgb(68,84,106) !important;
    background-color: rgb(222, 235, 247) !important;
    color: rgb(68,84,106) !important;
}